*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
    --green-1:rgb(95, 163, 95);
    --green-2:rgb(59, 128, 59);
    --green-3:rgb(20, 85, 20);
    --black:black;
    --white:white;
    --grey-1:rgb(243, 243, 243);
    --grey-2:rgb(224, 224, 224);
    --grey-3:rgb(182, 182, 182);
    --grey-4:rgb(139, 139, 139);
    --grey-5:rgb(119, 119, 119);
    --blue-1:rgb(210, 239, 247);
    --blue-2:rgb(173, 217, 231);
    --blue-3:rgb(107, 163, 180);
}
.rounded{
    border-radius: .5rem;
}
.btn{
    padding:1rem;
    background-color: var(--white);
    color:var(--green-3);
    border:2px solid var(--green-3);
    border-radius: .5rem;
}
.btn:hover{
    background-color: var(--grey-1);
}
.btn:active{
    background-color:var(--grey-2);
}
.app{
    display:flex;
    flex-direction: column;
    height:100vh;
}
