.piece {
    padding: .5rem;
    background-color: rgb(166, 216, 166);
}

.piece-list {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.piece-img {
    height: 12rem;
}

.input-sm {
    width: 3rem;
    text-align: center;
}

.piece-characteristics {
    background-color: rgb(210, 255, 210);
    text-align: center;
    padding: .3rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}