.piece-img {
    height: 8rem;
}

.input-sm {
    width: 3rem;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.table {
    border-collapse: collapse;
}

.table td, table th {
    border: 1px solid var(--grey-1);
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: var(--blue-1);
}
.table tr:nth-child(odd) {
    background-color: var(--blue-2);
}

.table tr:hover {
    background-color: var(--grey-2);
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--green-1);
    color: var(--white);
}
.input-me{
    width:5rem
}