.piece{
    padding:.5rem;
    background-color: rgb(137, 224, 137);
}
.piece-list{
    display:flex;
    flex-wrap: wrap;
    gap:.2rem;
}
.piece-img{
    height:8rem;
}
.input-sm{
    width:3rem;
    text-align: center;
}