*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}

canvas{
    position:absolute;
    z-index:-1;
}
.send-btn{
    padding:0 .8rem;
}
.round{
    border-radius: .4rem;
}
.right{
    display:flex;
    justify-content: right;
}
.input-row{
    display:flex;
    gap:.1rem;
}
.pad{
    padding:.5rem
}
.pad-t{
    padding-top: .5rem;
}
.marg-t{
    margin-top: .5rem;
}
.col{
    display:flex;
    flex-direction: column;
}
.row{
    display:flex;
    justify-content: space-between;
}
.name-input{
    text-align: center;
}
.input-sm{
    text-align: center;
    max-width: 3rem;
}
.bg-green{
    background-color: rgba(96, 165, 96, 0.247);
}
.item1{
    flex: 1 1 auto
}
.item2{
    flex: 0 0 0
}