*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}

canvas{
    position:absolute;
    z-index:-1;
}

.right{
    display:flex;
    justify-content: right;
}
.pad{
    padding:.5rem
}
.pad-y{
    padding:.5rem 0
}
.col{
    display:flex;
    flex-direction: column;
}
.vertexInput{
    text-align: center;
    max-width: 3rem;
}