*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    height:100vh;
}
.canvas{
    width:100%;
    height:100%;
}
.canvas-container{
    width:100%;
    height:100%;
    display:flex;
    border:1px solid black;
}
.input{
    width:3rem;
}
.container{
    padding:.1rem;
}
.col{
    display:flex;
    flex-direction: column;
}
.row{
    display:flex;
}
.set-btn{
    background-color:rgb(151, 255, 151);
    padding: 0 1rem;
}
.set-btn:hover{
    background-color: rgb(134, 225, 134);
}
.set-btn:active{
    background-color: rgb(121, 198, 121);
}
.btn{
    border:1px solid black;
    border-radius:.1rem;
}
