*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    height:100vh;
}
.main-container{
    height:100%;
}
.canvas{
    width:100%;
    height:100%;
}
.canvas-container{
    width:100%;
    height:100%;
    display:flex;
}
.inputs-container{
    display:flex;
}
.figures-inputs-container{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    padding:.5rem;
    border:1px solid black;
}
.figures-display-container{
    display:flex;
    flex-direction:column;
}
.inputs-line{
    display:flex;
    justify-content: left;
    gap:.1rem
}
.input{
    width:3rem;
}